.bg-white {
    background-color: white;
}

.main {
    padding-top: 100px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.main-blur {
    filter: blur(5px);
}

.question-form {
    margin-top: 50px;
}

#loading {
    width: 75%;
    top: 300px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.results {
    position: relative;
    min-height: 150px;
}

#loading .loading-container {
    width: 120px;
    height: 120px;
}

.hidden {
    display: none !important;
}